body{
    margin: 0;
    padding: 0;
    font-family: calibri;
}

*{
    box-sizing: border-box;
}

:root{
    --var-bg-color:rgb(151, 67, 41);
    --var-font-familyy: "Nunito", sans-serif;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.left-nav{
    width: 25%;
    height: 90vh;
    background-color: rgb(250, 247, 247);
    box-shadow: 0px 2px 8px #ccc;
    position: fixed;
    top: 5vh;
    left: 10px;
    border-radius: 20px;
    padding: 10px;
}

.profile{
    width: 100%;
    height: fit-content;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.pro-hold{
    width: 120px;
    height: 120px;
    background-color: #e5e5e5;
    border-radius: 100%;
    overflow: hidden;
}

.pro-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right{
    width:72%;
    height:fit-content;
    margin-left: 28%;
}

.tab-content{
    width: 100%;
    height: fit-content;
}

.tab-pane{
    width: 100%;
    background-color: white;
    height: fit-content;
}

.home-head{
    font-size: 30pt;
    font-weight: bold;
    color: var(--var-bg-color);
    font-family: var(--var-font-familyy);

}

.h-content{
    width: 450px;
    word-wrap: break-word;
    margin-top: 20px;
}

.preview{
    width: 80vh;
    margin-top: 50px;
    max-width: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: red; */
    padding: 5px;
    gap:20px;
}


.butt-left,.butt-right{
    width: fit-content;
    height: fit-content;
}

.preview-btn{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 5px;
    color: #444;
    font-size: 15pt;
    text-align: center;
}

.movement{
    width: 80vh;
    max-width: 80vh;
    overflow: hidden;
    display: flex;
}

.pre-box{
    background-color: lightgrey;
    border-radius: 10px;
}

.pre-block{
    width: fit-content;
    display: block;
    margin: auto;
    text-align: center;
}

.pre-logo{
    font-size: 30pt;
    background-color: #e4e1e1;
    width: 100px;
}

.pre-text{
    font-weight: bold;
    color: #444;
}

.focus{
    font-weight: bold;
    color:var(--var-bg-color);
}

.nav-links{
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.nav-links ul{
    padding: 0;
    list-style: none;
    margin: auto;
    width: 90%;
}

.nav-links a{
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 13pt;
    color: #222;
    padding: 13px;
    margin-top: 3px;
    border-radius: 10px;
    color: #555;
}


.nav-links a:hover{
    background-color: rgb(201, 195, 195);        
    transition-duration: 0.3s;
    cursor: pointer;
}

a.active{
    background-color: rgb(201, 195, 195);    
}